<div class="container mt-3">
    <div class="card">
        <h5 class="card-header fs-3">About This Project</h5>
        <div class="card-body">
            <h5 class="card-title fs-4">Project Title: Simple User Management System</h5>
            <p class="card-text fs-5"><strong>Overview: </strong>This project is a user management system designed to
                streamline the process
                of managing customer information. Built using a combination of modern web technologies, it allows users
                to add, view, update, and delete customer details efficiently.</p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h4 class="card-title">Technologies Used:</h4>
            <h6 class="card-subtitle mb-2 text-body-secondary">
                <ul class="fs-5">
                    <li><strong>express: </strong>As the web application framework.</li>
                    <li><strong>mongoose: </strong>For MongoDB object modeling.</li>
                    <li><strong>ejs: </strong>For templating and rendering dynamic HTML.</li>
                    <li><strong>express-ejs-layouts: </strong>To manage layouts in EJS.</li>
                    <li><strong>express-session: </strong>For handling user sessions.</li>
                    <li><strong>connect-flash: </strong>For flash messages to enhance user experience.</li>
                    <li><strong>method-override: </strong>To support PUT and DELETE methods in forms.</li>
                    <li><strong>dotenv: </strong>To manage environment variables securely.</li>
                </ul>
            </h6>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h4 class="card-title">Features:</h4>
            <h6 class="card-subtitle mb-2 text-body-secondary">
                <ul class="fs-5">
                    <li><strong>Add Customer: </strong>Easily add new customers with their name, email, phone number,
                        and an overview.</li>
                    <li><strong>View Customers: </strong>Display a list of all customers with their details.</li>
                    <li><strong>Update Customer: </strong>Edit existing customer information.</li>
                    <li><strong>Delete Customer: </strong>Remove customers from the system.</li>
                    <li><strong>CRUD Operations: </strong>Full support for Create, Read, Update, and Delete operations.
                    </li>
                    <li><strong>MVC Framework: </strong>Structured using the Model-View-Controller pattern for
                        maintainability and scalability.</li>
                    <li><strong>Error Handling: </strong>Robust handling of both asynchronous and synchronous errors to
                        ensure smooth operation and better user experience.</li>
                </ul>
            </h6>
        </div>
    </div>

    <div class="card text-center my-5 border-black">
        <div class="card-header fs-4"> Copyright Notice </div>
        <div class="card-body">
            <div class="footer-icon">
                <a href="https://www.instagram.com/prajwal_rf_751?utm_source=qr&igsh=MWowODBocmRxNjZ0NA==">
                    <i class="fa-brands fa-instagram" style="color: #db2929;"></i>
                </a>
                <a href="https://linkedin.com/in/prajwal-nikam-5ab5a7326">
                    <i class="fa-brands fa-linkedin" style="color: #1f84d1;"></i>
                </a>
                <a href="https://github.com/prajwalnikam7131">
                    <i class="fa-brands fa-square-github" style="color: #0c0c0c;"></i>
                </a>
            </div>
            <div>
                <p class="copyright"> Copyright ©
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved by Prajwal Nikam
                </p>
            </div>
        </div>



    </div>

</div>