<div class="container mt-4 form-container">
    <h2 class="text-center mb-3">New user details</h2>

    <div>
        <form method="post" action="/dashboard/new" id="phoneForm" class="needs-validation" novalidate>

            <div class="row g-2 mb-3">
                <div class="form-floating mb-3 col">
                    <input type="text" name="user[firstname]" class="form-control fs-5 border-2 border-black" id="firstname"
                        placeholder="firstname" required>
                    <label for="firstname">First Name</label>
                    <div id="validationServer03Feedback" class="invalid-feedback"> required </div>
                </div>
                <div class="form-floating mb-3 col">
                    <input type="text" name="user[lastname]" class="form-control border-2 border-black" id="lastname"
                        placeholder="lastname" required>
                    <div id="validationServer03Feedback" class="invalid-feedback"> required </div>
                    <label for="lastname">Last Name</label>
                </div>
            </div>

            <div class="row g-2 mb-3">
                <div class="form-floating mb-3 col">
                    <input type="tel" name="user[phonenumber]" class="form-control border-2 border-black" id="phonenumber"
                        placeholder="phonenumber"  pattern="^\d{10,}$" required>
                    <label for="phonenumber">Phone Number</label>
                    <div id="validationServer03Feedback" class="invalid-feedback">A phone number is required and must be at least 10 digits long.</div>
                </div>
                <div class="form-floating mb-3 col">
                    <input type="email" name="user[email]" class="form-control border-2 border-black" id="email"
                        placeholder="email">
                    <label for="email">Email</label>
                    <div class="valid-feedback"> Optional! </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-floating">
                    <textarea name="user[details]" class="form-control border-2 border-black" placeholder="Leave a comment here"
                        id="floatingTextarea2" style="min-height: 200px;"></textarea>
                    <label for="floatingTextarea2">details...</label>
                    <div class="valid-feedback"> Optional! </div>
                </div>
            </div>

            <div class="text-center my-3">
                <button class="btn btn-danger">Add User</button>
            </div>


        </form>
    </div>


</div>